# Ignorar configurações do VS Code (SEU CASO PRINCIPAL)
.vscode/

# Ignorar executáveis (o .exe não deve ir pro GitHub)
*.exe
*.dll

# Ignorar arquivos temporários de compilação
*.o

# Ignorar arquivo de dados local (opcional, se quiser ignorar o txt)
dados.txt